@use '../../styles/mixins' as mixins;

.startmeet{
    padding-block: 5rem;
    text-align: center;

    h2{
        font-size: 2.5rem;
        line-height: 1.2;

        @include mixins.respond(phone){
            font-size: 2rem;
        }
    }

    p{
        margin-block: 1rem 2rem;
        width: 70%;
        margin-inline: auto;
        color: var(--cultured);

        @include mixins.respond(phone){
            width: 100%;
        }
    }

    form{
        display: flex;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background: var(--black);
        width: fit-content;
        margin-inline: auto;
        gap: 8rem;
        border: 2px solid var(--cultured);

        @include mixins.respond(phone){
            gap: 1rem;
        }
    }

    input{
        background: transparent;
        border: none;
        padding-left: 1rem;
        color: var(--cultured);
        gap: 4rem;
        min-width: 200px;

        &:focus-visible {
            outline: 2px solid var(--focus-color);
            outline-offset: 2px;
        }

        &::placeholder {
            color: var(--gray);
        }
    }

    &__alt{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        p{
            margin: 0;
            width: auto;
        }
    }
}