@use '../../styles/mixins' as mixins;

.navbar{
    background-color: var(--black);
    padding-block: 0.6rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #3fe8ab, #78cdcd) 1;

    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo img{
        width: 5rem;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 2rem;

        @include mixins.respond(tab-port){
            flex-direction: column;
            gap: 1.2rem;
            align-items: flex-start;
            position: absolute;
            top: 100%;
            left: 0;
            padding: 2rem;
            background-color: var(--black);
            width: 100%;
            border-top: 1px solid var(--spanish-gray);
            display: none;
            z-index: 99;
        }

        a {
            color: var(--cultured);
            text-transform: uppercase;
            transition: all 0.3s ease;

            &:hover {
                color: var(--spanish-gray);
            }
        }
    }

    &__btns{
        display: flex;
        align-items: center;
        gap: 1.5rem;

        a{
            text-transform: capitalize;
            color: var(--cultured);
        }

        @include mixins.respond(tab-port){
            display: none;
        }
    }

    &__login-btn{
        position: relative;
        font-weight: 600;
        padding-bottom: 0.15rem;
        text-decoration: none;

        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, #3fe8ab, #78cdcd);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
        }

        &:hover::after,
        &:focus-visible::after{
            transform: scaleX(1);
        }
    }

    &__menu{
        display: none;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0.5rem;

        @include mixins.respond(tab-port){
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 2.3rem;
            color: var(--spanish-gray);
        }

        &:focus-visible {
            outline: 3px solid var(--focus-color);
            outline-offset: 3px;
        }
    }

    .show{
        display: flex;
    }
}