@use '../../styles/mixins.scss' as mixins;

.footer {
    padding-block: 2.5rem;
    border-top: 2px solid;
    border-image: linear-gradient(to right, #3fe8ab, #78cdcd) 1;

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        gap: 2rem 1rem;
    }

    img{
        width: 4rem;
        margin-bottom: 0.5rem;
    }

    h3{
        font-weight: 400;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }

    &__col{
        a{
            color: var(--gray);
            display: block;
            margin-top: 0.5rem;
            font-size: 1rem;
            transition: all 0.3s ease;

            &:hover{
                color: var(--cultured);
            }
        }
    }

    &__col:not(:first-child){
        margin-inline: auto;

        @include mixins.respond(phone){
            margin: 0;
        }
    }

    &__icons{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    &__icon{
        padding: 0.7rem;
        background-color: var(--black);
        display: grid;
        place-content: center;
        border-radius: 0.5rem;
        border: 1px solid var(--black-olive);
        color: var(--cultured);
        transition: all 0.3s ease;

        &:hover{
            background-color: var(--gradient);
            color: var(--black);
            border-color: var(--cultured);
        }
    }

    &__copyright{
        color: var(--cultured);
    }

    &__info{
        color: var(--cultured);
    }
}